body{
  margin: 50px;
}

.top{
  text-align: left;
  margin-top: 100px;
}

h1{
  font-weight: bold;
}

h4{
  font-weight: 200;
}

label{
  font-size: small;  
}

input[type=text]{
  border: 1px solid #264653; /*accepts different values; thickness, transparency color*/
  background-color: lightgray;
  width: 22em;
  padding: 1em;
  box-sizing: border-box; /*remember when combining padding along with width; you dont want the box to be jutted out in comparison with the page*/
  border-radius: .5em; /* to make rounded edges*/
}

.form-email{
  margin-top: 10em;
}

.form-pw{
  margin-top: 1.2em;
}

.sign-btn{
  margin-top: 1.5em;
  padding-bottom: 1em;
}

.sign-btn a{
  color: gold;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
}

input[type=button]{
  background-color: #264653;
  border: none;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3em;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
